@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.section-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-around;
  height: 70%;
  width: 70%;
}

.background-section-one {
  background: rgb(171,0,255);
  background: linear-gradient(313deg, rgba(171,0,255,1) 0%, rgba(240,127,201,1) 100%);
  max-width: 100%;
}
.mensagem {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
h1 {
  font-size: 70px;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

h2 {
  font-size: 60px;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

p {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.color {
  width: 250px;
  padding: 55px;
}

#startConfetti {
  font-size: 70px;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  padding: 15px 65px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease-out;
}

#startConfetti:hover {
  background-color: green;
  color: #fff;
}

.hash {
  display: flex;
  justify-content: end;
  padding-left: 400px;
  margin-top: 89px;
  font-size: 20px;
  color: #fff;
}
/*
.card {
  background: rgba(0,0,0,0.1);
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  width: 400px;
}*/

.justify-center {
  display: flex;
  justify-content: center;
}
/*
footer {
  height: 100px;
  padding-top: 25px;
  text-align: center;
  background-color: #100e0e;
  color: #ff0c28;
}
*/

@media (max-width: 700px) {
  
  .section-container {
    display: flex;
    flex-wrap: wrap;
  }
  .logo {
    width: 40%;
    height: 40%;
  }
  .mensagem {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 85px;
  }
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 35px;
  }
  .hash {
    margin-right: 160px;
  }
  #startConfetti {
    width: 100%;
  }
}